@import './globalvars';

$list-margin: 25px;

@mixin main() {
    margin-top: 30px;
    
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
    
    &__side {
        margin-top: -5px;

        &--left {
            @include left-side;
            
            @media (min-width: 768px) {
                display: inline;
                float: left;
                width: 350px;
                height: 95vh;
            }   
        }
        
        &--right {
            @include right-side;

            @media (min-width: 768px) {
                display: inline;
                float: left;
                width: 700px;
                height: 95vh;
            } 
        }       
    }
}

@mixin left-side() {
    background-color: rgba(220, 20, 60, 0.95);
    font-size: 16pt;

    .left-side__info {
        margin: 5px;

        &--name, &--profile-picture {
            text-align: center;
        }

        &--profile-picture {
            img {
                border: solid black 2px;
                border-radius: 50%;
                filter: drop-shadow(0px 0px 10px white);
            }
        }

        &--name {
            font-size: 32pt;
        }

        &--about-title, &--hobbies-title, &--keywords-title {
            font-size: 24pt;
        }

        &--hobbies {
            font-size: 24pt;

            i {
                margin: 10px;
            }
        }

        &--keywords {
            
            ul {
                margin-left: 30px;
            }
        }
    }
}

@mixin right-side() {
    background: linear-gradient(to right, #26a0da, #314755);
    
    .right-side__block {
        > div {
            margin: 5px;
        }

        &--timeline {
            .timeline__title {
                font-size: 24pt;
            }

            .timeline__info {
                margin-left: $list-margin;
                font-size: 14pt;

                &--project {
                    margin-left: 20px;
                }
            }
        }

        &--skills {
            .skill__title {
                font-size: 24pt;
            }

            .skill__block {
                margin-left: $list-margin;
                font-size: 14pt;

                > :nth-child(1) {
                    font-size: 18pt;
                    color: antiquewhite;
                }

                > :nth-child(2) {
                    margin: 5px 5px 0 $list-margin;
                }

                &--other-basic {
                    ul {
                        list-style: none;
                    }
                }
            }
        }

        &--projects {
            .project__title {
                font-size: 24pt;
            }

            .project__block {
                margin-left: $list-margin;
                font-size: 14pt;

                a {
                    color: antiquewhite;
                }
            }
        }

        &--experiences {
            .experiences__title {
                font-size: 24pt;
            }
            
            .experiences__block {
                margin-left: 30px;
                font-size:  14pt;
            } 
        }
    }
}
