<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Thông Lê Resume</title>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>" />
</head>

<body>
  <div class="header">
  </div>
  <div class="main">
    <div class="main__side main__side--left">
      <div class="left-side__info left-side__info--name">Thong Le</div>
      <div class="left-side__info left-side__info--profile-picture">
        <img src="assets/profile-picture.jpg" alt="Profile picture" />
      </div>
      <div class="left-side__info"><i class="fas fa-user"></i>&nbsp;Lê Phạm Duy Thông</div>
      <div class="left-side__info"><i class="fas fa-phone"></i>&nbsp;0942620478</div>
      <div class="left-side__info"><i class="fas fa-envelope-square"></i>&nbsp;lephamduythong2296@gmail.com</div>
      <div class="left-side__info left-side__info--about-title">About me:</div>
      <div class="left-side__info">
        Hi, my name is Thong, I'm from Binh Duong province, Vietnam. I like programming very much when I was young. I
        decided follow the web designer because It's very interesting.</div>
      <div class="left-side__info left-side__info--hobbies-title">Hobbies:</div>
      <div class="left-side__info left-side__info--hobbies"><i class="far fa-futbol"></i><i class="fas fa-swimmer"></i><i class="fas fa-book"></i></div>
    </div>
    <div class="main__side main__side--right">
      <div class="right-side__block right-side__block--timeline">
        <div class="timeline__title">Timeline</div>
        <div class="timeline__info">2002-2014: High school</div>
        <div class="timeline__info">2014-2018: Tôn Đức Thắng University</div>
        <div class="timeline__info">2017-2018: Intership at TMA Solutions</div>
        <div class="timeline__info">2018: Works at NashTech</div>
        <div class="timeline__info">2018-2020: Military service</div>
      </div>
      <div class="right-side__block right-side__block--skills">
        <div class="skill__title">Skills</div>
        <div class="skill__block skill__block--frontend">
          <div>Frontend:</div>
          <div>HTML, CSS (SCSS), Javascript (Angular, React, Vue)</div>
        </div>
        <div class="skill__block skill__block--backend">
          <div>Backend:</div>
          <div>C#, ASP.Net (Framework/Core), SignalR, SQL Server, Entity Framework (Core), WPF, MySQL</div>
        </div>
        <div class="skill__block skill__block--devops">
          <div>Devops:</div>
          <div>Linux, Git, Docker</div>
        </div>
        <div class="skill__block skill__block--other-basic">
          <div>Other basic skills:</div>
          <div>Laravel framework (PHP), Numpy (Python), Arduino and ESP8266 (C/C++), Firebase, Programing Hybrid Mobile App with Cordova (Javascript)
            </ul>
          </div>
        </div>
        <div class="skill__block skill__block--knowledge">
          <div>Knowledge</div>
          <div>Electrical Components, Digital Electronics, IoT</div>
        </div>
      </div>
      <div class="right-side__block right-side__block--projects">
        <div class="project__title">Pet projects:</div>
        <div class="project__block">
          <div>Loto game: <a href="http://lotogame.surge.sh/">http://lotogame.surge.sh/</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div></div>
    <div>Designed by Thong Le</div>
    <div>
      <a href="https://github.com/lephamduythong" target="_blank"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/d3a02a446b.js" crossorigin="anonymous"></script>
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>